<div class="bg-gray-300 h-screen w-screen sm:p-14">
  <div class="flex justify-center items-center h-full bg-white">
    <div class="flex flex-col items-center lg:w-1/2 w-full">
      <img src="../assets/logo.webp" class="w-2/6" alt="Failed to load">
      <p class="sm:text-xl font-bold">We are The Lotus Team</p>
      <div class="flex flex-col items-start w-3/5 mt-14 space-y-3">
        <p class="sm:text-lg text-[15px]">Please login to your account</p>
        <input type="text" class="border border-gray-400 rounded-sm my-2 px-2 py-1 w-full outline-0"
          placeholder="Username">
        <input type="password" class="border border-gray-400 rounded-sm my-2 px-2 py-1 w-full outline-0"
          placeholder="password">
        <button
          class="capitalize bg-gradient-to-r from-orange-500 via-red-600 to-purple-500 w-full py-2 text-white rounded-sm hover:shadow-lg">Log
          in</button>
        <span class="mx-auto cursor-pointer hover:underline">Forgot password?</span>
        <div class="sm:flex justify-between w-full text-center">
          <span class="cursor-pointer hover:underline">Don't have an account?</span>
          <button
            class="border-2 rounded-md px-6 py-1 border-pink-500 transition hover:text-white hover:bg-pink-500">Register</button>
        </div>
      </div>
    </div>
    <div
      class="hidden bg-gradient-to-r from-orange-500 via-red-600 to-purple-500 h-full text-white p-20 lg:flex items-center w-1/2">
      <div class="">
        <h5 class="text-2xl text-center">We are more than just a company</h5>
        <p class="text-justify mt-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam, officia
          inventore quas itaque
          aspernatur
          temporibus reprehenderit beatae perferendis ea recusandae laborum voluptates ab ratione libero quae est!
          Minus,
          provident quasi!</p>
      </div>
    </div>
  </div>
</div>